#table{
  margin: 0 auto;
  padding: .5rem;
  background-color: rgba(255, 255, 255, .6);
}
#table thead tr{
  border-bottom: 1px solid grey;
}
#table thead tr th{
  text-align: left;
  padding: .5rem;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {
  #table{
    width: 90vw;
  }
}
