.main_container{
  margin: 0;
  padding: 0;
  height: 95vh;
  background-image: url("../img/paris_background.jpg");
  background-position: center, center;
  background-size: cover;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
