.main_container{
  margin: 0;
  padding: 0;
  height: 95vh;
  background-image: url("../public/paris_background.jpg");
  background-position: center, center;
  background-size: cover;
}
@media (max-width: 600px) {
  #coin_container {
    width: 100%;
    flex-direction: column;
  }
}
